<h1>The movies of this list</h1>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
     <li class="list-group-item"><%= bookmark.movie.title %> <%= link_to "Delete",
  bookmark_path(bookmark),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
  <% end %>
</ul>

 <%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
  <%= link_to "Go back to your lists", lists_path(@lists) %>
